custom-style: style.
	/**
	* @package CleverStyle Widgets
	* @author  Nazar Mokrynskyi <nazar@mokrynskyi.com>
	* @license 0BSD
	*/
	html {
		--cs-no-selection : {
			user-select           : none;
			-moz-user-select      : none;
			-ms-user-select       : none;
			-webkit-touch-callout : none;
			-webkit-user-select   : none;
		};
	}
